{% assign is_first = 1 %}

{% for paper in site.data.papers.papers %}
  {% assign year = paper.year | plus: 0 %}
  {% if year == include.year %}
    {% if is_first == 1 %}
<h2 id="{{year}}">{{ year }}</h2>
<ul id="papers_{{ include.year }}">
        {% assign is_first = 0 %}
    {% endif %}
    <li>
      {{ paper.author }}
      ({{ paper.year }}).
      {% if paper.docurl %}<a href="{{paper.docurl}}">{% endif %}
      <b>{{ paper.title }}</b>.
      {% if paper.docurl %}</a>{% endif %}
      In
      {% case paper.paper-type %}
        {% when "inproceedings" %}
          <i>{{ paper.booktitle }}</i>{% if paper.address %}, {{paper.address}}{% endif %}{% if paper.pages %}, pages {{paper.pages}}{% endif %}.
        {% when "article" %}
          <i>{{ paper.journal }}</i>{% if paper.volume %}, Vol {{ paper.volume }}{% endif %}{% if paper.number %}({{ paper.number }}){% endif %}.
      {% endcase %}
      {% if paper.codeurl %}
        <a href="{{paper.codeurl}}">[code]</a>
      {% endif %}
      </li>
    {% endif %}
  {% endfor %}
{% if is_first == 0 %}
</ul>
{% endif %}
